/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00a8e8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container {
    background-color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city-input {
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
    font-size: 16px;
    text-align: center;
    padding: 5px 10px;
    width: 200px;
    transition: border-color 0.3s;
}

#city-input:focus {
    border-bottom: 1px solid #00a8e8;
}

#search-btn {
    background: #00a8e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

#search-btn:hover {
    background: #007fbb;
}

.location {
    margin: 10px 0;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.icon-temp {
    margin: 20px 0;
}

#weather-icon {
    font-size: 50px;
    margin: 10px 0;
    color: #ffb400;
}

#temp-value {
    font-size: 40px;
    font-weight: bold;
}

.details p {
    margin: 5px 0;
    font-size: 14px;
}
